# Puerto en el que se ejecutará la aplicación
PORT=3000

# Para generar una imagen en docker con la base de datos de postgres (solo tener en desarrollo)
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# Clave secreta para firmar los JWT
JWT_SECRET=

# Entorno de ejecución: production, development o test
NODE_ENV=production

# URL de conexión a la base de datos (producción o desarrollo): colocarlo ente comillas dobles 
DATABASE_URL=
